<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <span>NK</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
      <% if admin_signed_in? %>
        <li>
          <%= link_to admin_items_path, class: 'nav-link text-light' do %>
            商品一覧
          <% end %>
        </li>
        <li>
          <%= link_to admin_customers_path, class: 'nav-link text-light' do %>
            会員一覧
          <% end %>
        </li>
        <li>
          <%= link_to admin_orders_path, class: 'nav-link text-light' do %>
            注文履歴一覧
          <% end %>
        </li>
        <li>
          <%= link_to admin_genres_path, class: 'nav-link text-light' do %>
            ジャンル一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
            ログアウト
          <% end %>
        </li>
        <div class="search_form">
          <%= form_with url: admin_items_path, local: true, method: :get do |f| %>
            <%= f.text_field :word %>
            <%= f.submit "検索", class: "btn btn-sm btn-primary" %>
          <% end %>
        </div>
              
        
      <% elsif customer_signed_in? %>
        <span class="text-light">ようこそ、<%=  current_customer.last_name %>さん！</span>
        <li class="nav-item">
          <%= link_to my_page_path, class: 'nav-link text-light' do %>
            マイページ
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to items_path, class: 'nav-link text-light' do %>
            商品一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to cart_items_path, class: 'nav-link text-light' do %>
            カート
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-light' do %>
            ログアウト
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "About", about_path, class: 'nav-link text-light' %>
        </li class="nav-item">
        <li>
          <%= link_to items_path, class: 'nav-link text-light' do %>
            商品一覧
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_customer_registration_path, class: 'nav-link text-light' do %>
            新規登録
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_customer_session_path, class: 'nav-link text-light' do %>
            ログイン
          <% end %>
        </li>
      <% end %>
    </div>
  </div>
</nav>