<div class="container">
    <div class="row">
        <h5>ショッピングカート</h5><%= link_to "カートを空にする", cart_items_destroy_all_path,method: :delete, "data-confirm" => "本当に空にしますか？", class: "btn btn-sm btn-danger"%>
        <div class="col"></div>
    </div><br>
        
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr><th>商品名</th><th>単価（税込）</th><th>数量</th><th>小計</th><th></th></tr>
                </thead>
                <tbody>
                    <% @cart_items.each do |xx|%>
                    <tr>
                        <td><%= image_tag xx.item.get_image(65,50)%><span>　</span><%= xx.item.name %></td>
                        <td><%= xx.item.with_tax %></td>
                        <td>
                            <%= form_with model: xx, method: :patch do |f| %>
                            <%= f.select :amount, *[1..1000] %>
                            <%= f.submit "変更", class: "btn btn-sm btn-success"%>
                            <%end%>
                        </td>
                        <td><%= xx.subtotal %></td>
                        <% @total+=xx.subtotal%>
                        <td><%= link_to "削除する", cart_item_path(xx.id),method: :delete, class: "btn btn-sm btn-danger" %></td>
                    </tr>
                    <%end%>
                </tbody>
            </table>
        </div>
    </div>
        
    <div class="row">
        <div class="col-3">
            <%=link_to "買い物を続ける", root_path, class: "btn btn-sm btn-primary"%>
        </div>
        <div class="col-6"></div>
        <div class="col-3">
            <div class="row">
            <%="合計金額"%>　<%= @total%>
            </div>
        </div>
    </div><br>
    <div>
        <%= link_to "情報入力に進む",new_order_path ,class: "btn btn-success #{ @flag ? 'disabled' : '' } " %>
    </div>
        
    </div>
</div>