<div class="container">
    <div class="row">
        <div class="col-4"><h5>配送先登録/一覧</h5></div>
        <div class="col-8"></div>
    </div><br>
    
    <div class="row">
        <div class="col-4">
          <div>郵便番号(ハイフンなし)</div>
          <div>住所</div>
          <div>宛名</div>
        </div>
        <div class="col-8">
          <%= form_with model: @address do |f|%>
          <div><%= f.text_field :postal_code %></div>
          <div><%= f.text_field :address , :size => "57*30"%></div>
          <div class="row">
            <div class="col-8"><%= f.text_field :name %></div>
            <div class="col-4"><%= f.submit "変更内容を保存", class: "btn btn-sm btn-success"%></div>
          </div>
          <%end%>
        </div>
    </div>
</div>
